@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    @apply mx-auto;
    max-width: 1200px;
}

.single-seat:hover form {display: block}

.eticket-btn {
    @apply px-4 py-2 inline-block bg-black text-white rounded border border-black
}

.eticket-input {
    @apply w-full rounded border px-4 py-2
}

.eticket-label {
    @apply uppercase text-sm mb-2 cursor-pointer
}


.mx-datepicker {
    min-width: 100%;
}

.mx-input-wrapper .mx-input {
    height: auto;
    padding: 10px;
    box-shadow: 0 0 0;
    border-color: #6a7280;
}

.vs--searchable .vs__dropdown-toggle {
    padding: 6px;
    border-color: #6a7280;
}
